@{
    ViewBag.Title = "Home Page";
}

<h2>Html Helper Methods</h2>
<p>
	<p><b>Url.Action("About"):</b> @Url.Action("About")</p>
	<p><b>Html.Action("About"):</b> @Html.Action("About")</p>
	<p><b>Html.ActionLink("link text","About"):</b> @Html.ActionLink("link text","About")</p>
	<p><b>Html.RouteLink("link text","Default", new { action = "About" }):</b> @Html.RouteLink("link text","Default", new { action = "About" })</p>
	<p><b>{ Html.RenderAction("About"); }:</b> @{ Html.RenderAction("About"); }</p>
</p>
